.Button{
    
    background-color: darkslategrey;
    color: beige;
    width: 12%;
    height: 50px;

}

.Controls{
    
    background-color:orange;
    color: beige;
    width: 12%;
    height: 50px;

}