.Keypad{
display: flex;
justify-content: center;
  align-items: center;
  width: 28%;
  margin: auto;
  
background-color: blueviolet;
}

.Keypad > button{
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 15px;  
  
}




.Flex{
    margin-top: 10px;
}
